.refund{
    height: fit-content;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    padding: 2.75rem;
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .refundtext{
        font-size: 23px;
        --tw-text-opacity: 1;
        color: rgba(107, 114, 128, var(--tw-text-opacity));
    }
}


.sidebar{
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    height: 500px;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    ul{
        li{
           
            // margin-top: 25px;
            a{
               
                font-size: 20px;
                font-weight: 700;
                --tw-text-opacity: 1;
                color: rgba(107, 114, 128, var(--tw-text-opacity));
               
            }
        }

        li:hover{
            // transition: 1s;
            background-color: black;
            border-radius: 20px;
            a{
              
                color: white;
            }
        }
    }
}
